pycaret
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
mlflow
jupyter
scipy
plotly
matplotlib
seaborn
joblib
ipython
ipykernel
ipywidgets
textblob
wordcloud
gensim
spacy
nltk
umap-learn
pandas-profiling
shap


